<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bravo, <%= @account_creation_request.first_name %>!</h1>
    <p>
      Votre demande d'ouverture de compte a été acceptée.
    </p>
    <p>
      Vous pouvez maintenant créer un compte en cliquant sur le lien: 
			<p><%= link_to 'Création de compte', @url %></p>
    </p>
    <p>Heureux de vous compter parmi les libertariens !</p>
  </body>
</html>